<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="./images/favicon-32x32.png">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet"/>
    <title>PCOcare- Image Prediction</title>
</head>

<body>

    <!-- Navbar -->
    <header>
        <a href="#" class="logo">PCOcare</a>

        <ul class="navlist">
            <li><a href="#">Home</a></li>
            <li><a href="health.html">Health Library</a></li>
            <li><a href="signup.html">Signup</a></li>
        </ul>

        <div class="bx bx-menu" id="menu-icon"></div>
    </header>

    <section class="background-section1">
        <h1>Key facts</h1>
        <p> Polycystic ovary syndrome (PCOS) affects an estimated 8–13% of reproductive-aged women. <br>
            Up to 70% of affected women remain undiagnosed worldwide.<br>
            PCOS is the commonest cause of anovulation and a leading cause of infertility.<br>
            PCOS is associated with a variety of long-term health problems that affect physical and emotional wellbeing.<br>
            PCOS runs in families, but there are ethnic variations in how PCOS manifests itself and how it affects people.
        </p>
    </section>

        <!-- 1st section -->
    <section class="background-section2">
        <div class="content2">
            <div class="text">
                <h1>Scope of the problem</h1>
                <p>PCOS a significant public health problem and is one of the commonest hormonal disturbances affecting women of reproductive age. 
                    The condition affects an estimated 8–13% of women of reproductive age, and up to 70% of cases are undiagnosed.The prevalence 
                    of PCOS is higher among some ethnicities and these groups often experience more complications, in particular related to 
                    metabolic problems. The biological and psychological effects of PCOS, particularly those related to obesity, body image and 
                    infertility, can lead to mental health challenges and social stigma.
                 </p>
            </div>
            <div class="image2">
                <img src="images/health1.jpg" alt="Health Image">
            </div>
        </div>

     </section>

     <section class="background-section3">
        <div class="content3">
            <div class="image3">
                <img src="images/health2.jpg" alt="Health Image">
            </div>
            <div class="text2">
                <h1>When to see a doctor?</h1>
                <p>See your doctor if: You’ve missed periods, and you’re not pregnant. You have symptoms of PCOS, such as hair growth on your face
                    and body. You’ve been trying to get pregnant for more than 12 months but haven’t been successful. You have symptoms of 
                    diabetes, such as excess thirst or hunger, blurred vision, or unexplained weight loss. If your periods are already irregular 
                    or absent and you’re trying to get pregnant, do not wait 12 months to see a specialist to be evaluated (27). Also, keep in 
                    mind that if you do not wish to get pregnant, irregular or absent periods are not birth control in themselves. It may still 
                    be possible to get pregnant even under these conditions. It’s best to use contraception in this case even if you have PCOS.
                    If you have PCOS, plan regular visits with your primary care doctor. You’ll need regular tests to check for diabetes, high 
                    blood pressure, and other possible complications.
                </p> 
            </div>
            
        </div>
     </section>

     <section class="background-section4">
        <h1>The bottom line</h1>
        <p>
            PCOS can disrupt a woman’s menstrual cycles and make it harder to get pregnant. High levels of male hormones also lead to 
            unwanted symptoms like hair growth on the face and body. Lifestyle interventions are the first treatments doctors recommend for 
            PCOS, and they often work well. Weight loss can treat PCOS symptoms and improve the odds of getting pregnant. Diet and aerobic 
            exercise are two effective ways to lose weight. Medications are an option if lifestyle changes don’t work. Birth control pills and 
            metformin can both restore more normal menstrual cycles and relieve PCOS symptoms.
        </p> 
    </section> 

    <!-- Footer -->
    <footer class="footer">
    <div class="footer-container">
        <div class="footer-section about">
            <h2>About Us</h2>
            <p>We are a team of passionate developers building applications to solve real life problems.<br/>Pooja Kumari<br/>
                Aditi Singh<br/>Kirti Jayant</p>
        </div>
        <div class="footer-section links">
            <h2>Quick Links</h2>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Health Library</a></li>
                <li><a href="#">Signup</a></li>
            </ul>
        </div>
        <div class="footer-section contact">
            <h2>Contact</h2>
            <p>Email: pooja.2024cs1127@kiet.edu</p>
            <p><a href="https://github.com/KIET-Github/CS-2024-B/tree/main/PCS24-51-KirtiJayant">Github</a> </p>
        </div>
    </div>
    <div class="footer-bottom">
        &copy; 2024 PCOCare.com | Developed by PCS24-51 Team
    </div>
    </footer>

</body>
</html>
