<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="./images/favicon-32x32.png">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet"/>
    <title>PCOcare- Image Prediction</title>
</head>
<body>
    
    <!--header -->
    <header>
        <!-- <img src="logo.png" alt="" class="logo"> -->
        <a href="#" class="logo">PCOcare</a>

        <ul class="navlist">
            <li><a href="index.html">Home</a></li>
            <li><a href="health.html">Health Library</a></li>
            <li><a href="signup.html">Signup</a></li>
        </ul>

        <div class="bx bx-menu" id="menu-icon"></div>
    </header>
   
    <!-- form -->
    <section class="hero">

        <div class="hero-text">
            <h1>Know your body.<span>Own your health.</span></h1>
            <p>One in ten women faces polycystic ovary syndrome (PCOS) during her lifetime. Learn about this condition, its common symptoms, 
                and how it's managed.</p>
        </div>

        <div class="form-card" id="form">
            <div class="try-free-button">  
                <p> <span style="color: white;">Try it free 7 days</span> <span>then $20/mo. thereafter</span></p>
            </div>
            <!-- HTML Form -->
            <form method="POST">
                <div class="form-control">
                    <input type="text" id="fname" name="fname" placeholder="First Name">
                    <img src="images/icon-error.svg" alt="Error">
                    <span>Error message</span>
                </div>

                <div class="form-control">
                    <input type="text" id="lname" name="lname" placeholder="Last Name">
                    <img src="images/icon-error.svg" alt="Error">
                    <span>Error message</span>
                </div>

                <div class="form-control">
                    <input type="text" id="email" name="email" placeholder="Email Address">
                    <img src="images/icon-error.svg" alt="Error">
                    <span>Error message</span>
                </div>
            
                <div class="form-control">
                    <input type="password" id="password" name="password" placeholder="Password">
                    <img src="images/icon-error.svg" alt="Error">
                    <span>Error message</span>
                </div>

                <button class="sign-up-button" type="submit"> claim your free trial </button>

                <!--    Terms & Services Title    -->
                <p class="footer-box">By clicking the button, you are agreeing to our <a href="#">Terms and Services</a></p>
            </form>

        </div>

    </section>
  
   <!-- Footer -->
   <footer class="footer">
    <div class="footer-container">
        <div class="footer-section about">
            <h2>About Us</h2>
            <p>We are a team of passionate developers building applications to solve real life problems.<br/>Pooja Kumari<br/>
                Aditi Singh<br/>Kirti Jayant</p>
        </div>
        <div class="footer-section links">
            <h2>Quick Links</h2>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Health Library</a></li>
                <li><a href="#">Signup</a></li>
            </ul>
        </div>
        <div class="footer-section contact">
            <h2>Contact</h2>
            <p>Email: pooja.2024cs1127@kiet.edu</p>
            <p><a href="https://github.com/KIET-Github/CS-2024-B/tree/main/PCS24-51-KirtiJayant">Github</a> </p>
        </div>
    </div>
    <div class="footer-bottom">
        &copy; 2024 PCOCare.com | Developed by PCS24-51 Team
    </div>
   </footer>
    
</body>
</html>
